@media only screen {
  body {
    background-color: #f3f4f6;
  }
  main {
    border: 1px solid #cbd5e1;
    max-width: 1200px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 2px;
    padding: 24px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  }
}

.header-container {
  padding: 0.25rem 0rem;
}

.lr-header-flex-container {
  display: flex;
  width: 100%;
}

.lr-header-flex-container-left {
  width: 80%;
}

.lr-header-flex-container-right {
  width: 20%;
  border-left: 1px solid #9CA3AF;
}

.lr-report-info-flex-container {
  display: flex;
}

.lr-report-info-first-column {
  width: 60%;
  padding: 0rem 0.5rem;
}

.lr-report-info-second-column {
  width: 40%;
  padding: 0rem 0.5rem 0rem 1rem;
  border-left: 1px solid #9CA3AF;
}